@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Open+Sans:wght@300;400&display=swap');

:root{
    --primary-color:#405685;
}

*{
    box-sizing: border-box;  
}

body{
    font-family: 'Open-sans', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

h1{
    font-family: 'Italianno';
    font-size: 50px;
}
h2{
    font-weight: 300;
    font-size:60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.container{
    margin: auto;  
}


.showcase{
    position: relative;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('cover.jpg') no-repeat center center/cover;
}
.video-container video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0, 0.6);
}
.content{
    z-index: 10;
}

.btn{
    display: inline;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #ffffff;
    border: 1px #fff solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}
.btn:hover { 
    transform: scale(0.95);
    background: cornflowerblue;
}

/*Gallery section start from here*/


.container1{
    width: 100%;
    min-height: 100vh;
    background: var(--primary-color);
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .container1 .box {
    position: relative;
    width: 100%;
    height: 150px;
    background: #ff0;
    margin: 2px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
  }
  
  .container1 .box .imgBox{
    position: relative;
    overflow: hidden;
  
  }
  .container1 .box .imgBox img {
    /*image size can be change*/
    min-width: 100%;
    max-height: 150px;
    /*below things are normal*/
    transition: transform 2s;
  }
  
  .container1 .box:hover .imgBox img {
    transform: scale(1.2);
  }
  
  .container1 .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container1 .box:hover .details {
    transform: scaleY(1);
  }
  
  .container1 .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 5px;
    color: #fff;
    line-height: 1em;
  } 
  
  .container1 .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: bold;
    color: rgb(255, 133, 19);
    line-height: 1em;
  }

/*About section starting from here*/

#about {
    padding: 0px;
    text-align: center;
    max-width: 100%;
}
#about p {
    font-size: 1.2rem;
    min-height: 100vh;
    margin: auto;
}

#about h2 {
    margin-top: 50px;
    color: #fff;
}
.social{
    background: var(--primary-color);
    height: 100px;
}
.social a{
    margin: 0 5px;
    color: #ffffff;
    
}

/* MEDIA QUERIES */
@media(max-width:800px){
    #showcase h1{
        font-size: 30px;
    }
}
@media(max-width:500px){
    #showcase .showcase-content{
        padding: 40px 10px;
    }
}
/* GALLERY */ 

