@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Open+Sans:wght@300;400&display=swap');

:root{
    --primary-color:#111c33;
    --secondry-color:#7689b3;
}

*{
    box-sizing: border-box;  
}

body{
    font-family: 'Open-sans', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

h1{
    font-family: 'Italianno';
    font-size: 50px;
}
h2{
    font-weight: 300;
    font-size:60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

/* Menu start from here */

.container2{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.4), 
                                rgba(148, 48,48,.2), 
                                rgba(167, 67,67,.4)), 
                                url(images/img2.png) center no-repeat;
    background-size: cover;
    
  }
  
  .navbar{
    width: 300px;
    height: 100%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0px;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 0 0 50% ;
    transition: right .5s cubic-bezier(1. 0. 0. 1);
    z-index: 11;
  }
  
  .change {
    right: 0px;
  }
  
  .hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: var(--secondry-color);
    transition: all 0.8s;
  }
  
  .change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }
  
  .change .line-2 {
    opacity: 0;
  }
  
  .change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);  
  }
  
  .nav-list{
    text-align: right;
  
  }
  
  .nav-item{
    list-style: none;
    margin: 25px;
  }
  
  .nav-link{
    text-decoration: none;
    font-size: 15px;
    color: #eeeeee;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 4px 0;
  }
  
  .nav-link::before,
  .nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--secondry-color);
    position: absolute;
    left: 0px;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .nav-link::after {
    bottom: 0px;
    transform-origin: right;
  }
  
  .nav-link::before {
    top: 0px;
    transform-origin: left;
  }
  
  .nav-link:hover::before,
  .nav-link:hover::after{
    transform: scaleX(1);
  }

/* main page start from here */
.container{
    margin: auto; 
    width: 100%; 
}

.showcase{
    position: relative;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-color) url('cover.jpg') no-repeat center center/cover;
}
.video-container video{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0, 0.6);
}
.content{
    z-index: 10;
}

.btn{
    display: inline;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #ffffff;
    border: 1px #fff solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}
.btn:hover { 
    transform: scale(0.95);
    background: var(--secondry-color);
}

/*Gallery section start from here*/


.container1{
    width: 100%;
    min-height: 100vh;
    background: var(--primary-color);
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .container1 .box {
    position: relative;
    width: 100%;
    height: 150px;
    background: var(--secondry-color);
    margin: 2px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
  }
  
  .container1 .box .imgBox{
    position: relative;
    overflow: hidden;
  
  }
  .container1 .box .imgBox img {
    /*image size can be change*/
    min-width: 100%;
    max-height: 150px;
    /*below things are normal*/
    transition: transform 2s;
  }
  
  .container1 .box:hover .imgBox img {
    transform: scale(1.2);
  }
  
  .container1 .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container1 .box:hover .details {
    transform: scaleY(1);
  }
  
  .container1 .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 5px;
    color: #fff;
    line-height: 1em;
  } 
  
  .container1 .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: var(--secondry-color);
    line-height: 1em;
  }

/*About section starting from here*/

#about {
    padding: 0px;
    text-align: center;
    max-width: 100%;
}
#about p {
    font-size: 1.2rem;
    min-height: 100vh;
    margin: auto;
}

#about h2 {
    margin-top: 50px;
    color: #fff;
}
.social{
    background: var(--primary-color);
    height: 100px;
}
.social a{
    margin: 0 5px;
    color: #ffffff;
    
}

/* MEDIA QUERIES */
@media(max-width:800px){
    #showcase h1{
        font-size: 30px;
    }
}
@media(max-width:500px){
    #showcase .showcase-content{
        padding: 40px 10px;
    }
}
/* GALLERY */ 

