@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Open+Sans:wght@300;400&display=swap');

:root{
    --primary-color:#102146cc;
    --secondry-color:#ffae00;
}

*{
    box-sizing: border-box;  
}

body{
    font-family: 'Open-sans', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

h1{
    font-family: 'Italianno';
    font-size: 50px;
}
h2{
    font-weight: 300;
    font-size:60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

/* Menu start from here */

.container2{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.4), 
                                rgba(148, 48,48,.2), 
                                rgba(167, 67,67,.4)), 
                                url(images/img2.png) center no-repeat;
    background-size: cover;
    
  }
  
  .navbar{
    width: 300px;
    height: 100%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0px;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 0 0 50% ;
    transition: right .5s cubic-bezier(1. 0. 0. 1);
    z-index: 11;
  }
  
  .change {/*linked with script.js file*/
    right: 0px;
  }
  
  .hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: var(--secondry-color);
    transition: all 0.8s;
  }
  
  .change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }
  
  .change .line-2 {
    opacity: 0;
  }
  
  .change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);  
  }
  
  .nav-list{
    text-align: right;
  
  }
  
  .nav-item{
    list-style: none;
    margin: 25px;
  }
  
  .nav-link{
    text-decoration: none;
    font-size: 15px;
    color: #eeeeee;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 4px 0;
  }
  
  .nav-link::before,
  .nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--secondry-color);
    position: absolute;
    left: 0px;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .nav-link::after {
    bottom: 0px;
    transform-origin: right;
  }
  
  .nav-link::before {
    top: 0px;
    transform-origin: left;
  }
  
  .nav-link:hover::before,
  .nav-link:hover::after{
    transform: scaleX(1);
  }

/* dropdown menu for gallery */

#drop-itDown{
  cursor: pointer;
}

.dropdown-content a{
  margin-top: 10px;
}
.dropdown-content {
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0px;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10% 0 0 50% ;
    transition: right .5s cubic-bezier(1. 0. 0. 1);
    margin-top: 25%;
    z-index: 13;
}

.newOne { /*Linked with script.js file*/
  right: 200px;
}

/* main page start from here */
.container{
    margin: auto; 
    width: 100%; 
}

.showcase{
    position: relative;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-color) url('cover.jpg') no-repeat center center/cover;
}
.video-container video{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0, 0.6);
}
.content{
    z-index: 10;
}
.content h2{
  color: var(--secondry-color);
}
.content p {
  padding: 20px;
}
/*Main Button in side the page*/
.btn{
    display: inline;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #ffffff;
    border: 1px #fff solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover { 
  background: var(--secondry-color);
}

/*Gallery section start from here*/


.container1{
    width: 100%;
    min-height: 100vh;
    background: var(--secondry-color);
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .container1 .box {
    position: relative;
    width: 100%;
    max-height: 100vh;
    background: var(--secondry-color);
    margin: 2px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
  }
  
  .container1 .box .imgBox{
    position: relative;
    overflow: hidden;
  
  }
  .container1 .box .imgBox img {
    /*image size can be change*/
    min-width: 100%;
    max-height: 100vh;
    filter: blur(0.5rem);
    /*below things are normal*/
    transition: transform 2s;
  }
  
  .container1 .box:hover .imgBox img {
    transform: scale(1.2);
    filter: grayscale(100%);
  }
  
  .container1 .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container1 .box:hover .details {
    transform: scaleY(1);
  }
  
  .container1 .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 5px;
    color: #fff;
    line-height: 1em;
  } 
  
  .container1 .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: var(--secondry-color);
    line-height: 1em;
  }

  /* About section start from here */

#company{
  background: var(--primary-color);
  padding: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row; 
  
}

#company .about-back{
  color: var(--secondry-color);
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 90%;
  position: relative;
}

#company .about-image{
  width: 40%;
  background: yellow;
}

#company h4{
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 20px;
  color: var(--secondry-color)
}

#company p {
  font-size: 20px;
  line-height: 1.5;
  color: var(--secondry-color)
}

#company a{
  color: #fff;
}


/*Social media section starting from here*/

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 15px;
      
}
.social a{
    margin: 0 5px;
    font-size: 20px;
    color: var(--secondry-color);
    
    
}
/*bottom INFO part*/

#info{
  background: var(--primary-color) url('../images/info-bg.jpg') no-repeat;
}

#info h2{
  font-size: 30px;
  margin: 0;
  padding-bottom: 10px;
  color: var(--secondry-color);
}
#info ul{
  list-style: none;
  padding: 0;
}

#info li{
  line-height: 2em;
  font-size: 20px;
}

.info-down {
  text-decoration: none;
  color: var(--secondry-color);
  transform: scaleY(0);
  transition: transform .5s;
}
.info-down:hover{
  transform: scaleY(1);
}



/* FOOTER */

#main-footer{
  background: var(--secondry-color);
  color: #fff;
  padding: 12px;
}



/* MEDIA QUERIES */
@media(max-width:800px){
    #showcase h1{
        font-size: 30px;
    }
}
@media(max-width:500px){
    #showcase .showcase-content{
        padding: 0px;
    }
}
/* GALLERY for pictures start from here */ 

.gallery{
  display: flex;
  flex-wrap: wrap;
  background:var(--primary-color);
  padding: 20px 30px;
  width: 100%;
  height: auto;
  }
  
  .img-box-shadow{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    background-color:var(--secondry-color);
    box-shadow: -2px 5px 10px -2px black;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
  }
  
  .img-box-shadow p {
    color:var(--primary-color);
    text-align: center;
    padding: 10px;
    
  }
  
  .gallery img{
    transition: 1s;
    width: 99.5%;
    height: 80%;
    background-size: cover;
  }
  
  .gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1) rotate(5deg);
  }
/* Exhibition section start from here */

/* Exhibition page info start from here. */
.exhibition-part{
  background: rgb(255, 0, 0);
  padding-top: 10px;
  width: 100%;
}

.container10{
  width: 100%;
  margin: 40px auto;
  overflow: auto;
  align-content: center;
}

.slider-inner{
  width: 98%;
  height: 500px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px;
  border: #666 solid 1px;
}

.slider-inner img{
  display: none;
  width: 100%;
  height: 500px;
}

.slider-inner img.active{
  display: inline-block;
}

.prev,.next{
  float: left;
  margin-top: 200px;
  cursor: pointer;
}

.prev{
  position: relative;
  margin-right: -50px;
  z-index: 100;
}

.next{
  position: relative;
  margin-left: -50px;
  z-index: 100;
}